---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="トップページ" description="このWebサイトは、Webデザイナーになるためのポートフォリオサイトです">
	<main>
		<section>
		  <h2>作品1</h2>
		  <p>ここは作品1です。</p>
		</section>
		<section>
		  <h2>作品2</h2>
		  <p>ここは作品2です。</p>
		</section>
		<section>
		  <h2>作品3</h2>
		  <p>ここは作品3です。</p>
		</section>
	</main>
</Layout>